body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login-box {
    background-color: #eee;
    padding: 20px;
    max-width: 300px;
}

.login-box form, .question form {
    display: flex;
    flex-flow: column nowrap;
}